---
import BaseLayout from '../layouts/BaseLayout.astro';
import Sidebar from '../components/Sidebar.astro';
import Page from '../components/Page.astro';
import siteConfig from '../site.config';
---

<BaseLayout
  title={`Not Found - ${siteConfig.title}`}
  description={siteConfig.subtitle}
>
  <Sidebar />
  <Page title="NOT FOUND">
    <p>You just hit a route that doesn't exist... the sadness.</p>
  </Page>
</BaseLayout>
