---
import siteConfig from '../site.config';

const { menu } = siteConfig;
const currentPath = Astro.url.pathname.replace(/\/$/, '') || '/';
---

<nav class="menu">
  <ul class="menu__list">
    {menu.map((item) => {
      const itemPath = item.path.replace(/\/$/, '') || '/';
      const isActive = itemPath === currentPath;
      return (
        <li class="menu__list-item">
          <a
            href={item.path}
            aria-current={isActive ? 'page' : undefined}
            class:list={[
              'menu__list-item-link',
              isActive && 'menu__list-item-link--active',
            ]}
          >
            {item.label}
          </a>
        </li>
      );
    })}
  </ul>
</nav>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .menu {
    @include margin-bottom(1);

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;

      &-item {
        padding: 0;
        margin: 10px 0;

        &-link {
          font-size: $typographic-base-font-size;
          color: var(--text);
          font-weight: normal;
          border: 0;

          &:hover,
          &:focus-visible {
            color: var(--link);
            border-bottom: 1px solid var(--link);
          }

          &--active {
            color: var(--text);
            border-bottom: 1px solid var(--text);
          }
        }
      }
    }
  }
</style>
