.blog-page {
	margin-bottom: 40px;
}
.blog-page h1 {
	font-size: responsive 20px 36px;
	margin-top: 0;
}
.blog-page p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 26px;
}
.blog-single .text a {
	background: transparent;
	color: #5d93ff;
	text-decoration: none;
	transition: all .3s;
}
.blog-single .text a:active, a:hover {
	outline: 0;
}
.blog-single .text a:active {
	color: #6a5dff;
}
.blog-single .text a:hover {
	border-bottom: 1px solid;
	color: #427ef7;
}
@media (max-width:900px) {
	.blog-single .text, .blog-single .footer {
		padding: 0 15px;
	}
}
